
@if (Game is not null)
{
    <MudDialog>
        <DialogContent>
            <div style="width: 100%" class="d-flex justify-end">
                <MudIconButton OnClick=@(() => MudDialog.Close()) Class="ma-1" Icon="@Icons.Material.Filled.Close" Color="Color.Error" Size="Size.Small"/>
            </div>
            
            <MudStack Class="px-4" AlignItems="AlignItems.Center" Row="true" Justify="Justify.SpaceBetween" Spacing="16">
                <MudStack AlignItems="AlignItems.Center" Spacing="2">
                    <MudAvatar>
                        <MudImage Src=@($"{Game.AwayTeam.Abbrev}-logo.svg")></MudImage>
                    </MudAvatar>
                    <MudText Typo="Typo.h5" Align="Align.Start">@Game.AwayTeam.Abbrev</MudText>
                </MudStack>

                <MudStack Spacing="0">
                    <MudText Typo="Typo.subtitle1" Align="Align.Center"><b>@Game.StartTimeUTC.AddHours(-5).ToString("h:mm tt")</b></MudText>
                    <MudText Typo="Typo.subtitle1" Align="Align.Center">@Game.StartTimeUTC.AddHours(-5).ToString("yyyy-dd-MM")</MudText>
                </MudStack>

                <MudStack AlignItems="AlignItems.Center" Spacing="2">
                    <MudAvatar>
                        <MudImage Src=@($"{Game.HomeTeam.Abbrev}-logo.svg")></MudImage>
                    </MudAvatar>
                    <MudText Typo="Typo.h5" Align="Align.Start">@Game.HomeTeam.Abbrev</MudText>
                </MudStack>
            </MudStack>

            <MudDivider Class="my-6" Light />
            
            @if (IsLiveOrComplete)
            {
                <GameGoalsByPeriod Game="@Game"/>
            }
            else
            {
                <PlayersToWatch Game="@Game" />
            }
            
            <MudDivider Class="my-6" Light />
            
            <GameScoreSheet Game="@Game" />

        </DialogContent>
    </MudDialog>
}

@code {
    
    [CascadingParameter]
    private MudDialogInstance MudDialog { get; set; }

    [Parameter]
    public Nhl.Api.Models.Schedule.Game Game { get; set; }

    private bool IsLiveOrComplete => Game?.GameState != "FUT";

    protected override async Task OnInitializedAsync()
    {
    }

}