@inject Data.ScoreCalculationService ScoreCalculator

@if (GameLogs is not null)
{
    <MudSimpleTable Style="height: 400px;" Elevation="0" Striped FixedHeader Dense>
        <thead>
        <tr>
            <th></th>
            <th>W</th>
            <th>GA</th>
            <th>SV</th>
            <th>SHO</th>
        </tr>
        </thead>
        <tbody>
        @foreach (var game in GameLogs.GoalieGameLogs)
        {
            <tr>
                <MudText Typo="Typo.caption">@game.GameDate</MudText>
            </tr>
            <tr>
                <td>v @game.OpponentAbbrev</td>
                <td>@(game.Decision is not null && game.Decision.Equals("W") ? 1 : 0)</td>
                <td>@game.GoalsAgainst</td>
                <td>@(game.ShotsAgainst - game.GoalsAgainst)</td>
                <td>@game.Shutouts</td>
            </tr>
        }
        </tbody>
    </MudSimpleTable>
}

@code{

    [Parameter]
    public Nhl.Api.Models.Game.GoalieSeasonGameLog? GameLogs { get; set; }


}