@inject Data.IFNFData FNFData

@if (Player is not null && playerProfile is not null)
{
    <MudPaper Class="pa-4 ma-2" Elevation="0">
        <MudStack>
            <MudStack Row="true" AlignItems="AlignItems.Center">
                <MudAvatar Color="Color.Surface" Size="Size.Medium" Class="mr-3">
                    <MudImage Src="@playerProfile.Headshot" />
                </MudAvatar>
                <div>
                    <MudText Typo="Typo.h6">@Player.FirstName @Player.LastName</MudText>
                    <MudText Typo="Typo.body2" Color="Color.Secondary">
                        @Player.Position &nbsp;&nbsp;•&nbsp;&nbsp; @Player.Nationality
                        <span>&nbsp;&nbsp;•&nbsp;&nbsp; @playerProfile.SeasonTotals.Last().Goals G &nbsp; @playerProfile.SeasonTotals.Last().Assists A &nbsp; @playerProfile.SeasonTotals.Last().Points Pts</span>
                    </MudText>
                </div>
            </MudStack>
        </MudStack>
    </MudPaper>
}

@code {
    
    [Parameter]
    public Data.FNFPlayer? Player { get; set; }

    private Nhl.Api.Models.Player.PlayerProfile? playerProfile;

    protected override async Task OnParametersSetAsync()
    {
        if (Player is not null)
        {
            playerProfile = await FNFData.GetPlayerProfileByIdAsync(Player.NhlIdInt);
        }
    }

}